*{
    font-family: "Segoe UI Historic"
}

body {
    background-color:aliceblue;
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: "Segoe UI Historic"
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 10px;
    padding-right: 10px;
    margin:5%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
.abc{
    font-family:"Segoe UI Historic"
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
